body {
    background-color: #f8f9fa;
    padding-top: 20px;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-tabs .nav-item .nav-link {
    color: #0099ff;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #495057;
    font-weight: bold;
  }
  
  .tab-pane {
    animation: fadeIn 1s;
  }

  .trip-easy-brand {
    background-color: #0099ff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }